

        <div  class="container">

          

             <!--  <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/about"><i class="fa fa-shield"></i> About</a></li>
                  
                </ul> -->


                <div class="col-lg-12 ">

                    <h1 style="margin-left: 31%">Edit Details</h1>

                     

               

                    <form class="form-horizontal" name="userForm" role="form" novalidate>




  <div class="row">
                                    
                    <fieldset class="form-group mb-1 col-md-6 pl-0">
                      
                        <input type="hidden" ng-model="id" />
        <div class="form-group" ng-class="{ 'has-error' : userForm.firstname.$invalid && !userForm.firstname.$pristine }" >
            <label  class="col-sm-3 control-label">First Name</label>
            <div class="col-sm-6">
                <input type="text" name="firstname" class="form-control" ng-model="user_tempo.firstname" value="user_tempo.firstname"  />
                
                                      <span ng-show="userForm.firstname.$error.required && !userForm.firstname.$pristine" class="help-block">This is a required field</span>
                                      
                                      
                                  
            </div>
           

        </div>
      </fieldset>



      <fieldset class="form-group mb-1 col-md-6 pl-0">
                      
                        
        <div class="form-group" ng-class="{ 'has-error' : userForm.lastname.$invalid && !userForm.lastname.$pristine }" >
            <label  class="col-sm-3 control-label">Last Name</label>
            <div class="col-sm-6">
                <input type="text" name="lastname" class="form-control" ng-model="user_tempo.lastname" value="user_tempo.lastname"  required />
                
                                      <span ng-show="userForm.lastname.$error.required && !userForm.lastname.$pristine" class="help-block">This is a required field</span>
                                      
                                     
                                  
            </div>
           

        </div>
      </fieldset>
   
   
        

                                    
      
   




                                    
       <fieldset class="form-group mb-1 col-md-6 pl-0">
        
        <div class="form-group " ng-class="{ 'has-error' : userForm.designation.$invalid && !userForm.designation.$pristine }">
            <label for="gender" class="col-sm-3 control-label">Designation</label>
            <div class="col-sm-6">
                <select name="designation" class="form-control" ng-model="user_tempo.designation" value="user_tempo.designation"  required>
                    
                    <option value="astManager">Assistant Manager</option>
                    <option value="manager">Manager</option>
                    <option value="se">Software Engineer 1</option>
                </select>
                
                                      <span ng-show="userForm.designation.$error.required && !userForm.designation.$pristine" class="help-block">This is a required field</span>
                                      
                                     
                                  
            </div>
           
        </div>
      </fieldset>
    



                                    
      <fieldset class="form-group mb-1 col-md-6 pl-0">
            <div class="form-group" ng-class="{ 'has-error' : userForm.age.$invalid && !userForm.age.$pristine }">
            <label class="col-sm-3 control-label">Age</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" name="age" ng-model="user_tempo.age" value="user_tempo.age"  pattern=".{2,}" required max='60' min='18' />
               
                                      <span ng-show="userForm.age.$error.required && !userForm.age.$pristine" class="help-block">This is a required field</span>

                                      <span ng-show="myForm.age.$error.min">Age should be above 18</span>
                                       <span ng-show="myForm.age.$error.max">Age should be below 60.</span>
                                      
                                      <span ng-show="!userForm.age.$error.required && userForm.age.$invalid && !userForm.age.$pristine" class="help-block">Age is invalid </span>
                                 
            </div>
          

        </div>
      </fieldset>
 




   
<fieldset class="form-group mb-1 col-md-6 pl-0">
</fieldset>

</div>


<div class="row">

  <div class="col-sm-4"></div>
<div class="col-sm-2 form-group mb-1">

  <button type="button" ng-click="update()" class="btn  btn-info  bg-blue bg-darken-2 btn-block" ng-disabled="userForm.$invalid">Update</button>
                                        
                                    </div>

<div class="col-sm-1"></div>
                                    
                                  </div>

       
    </form>
</div>
</div>
<!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      
        <script src="http://code.angularjs.org/1.2.6/angular.js"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/dataTables.bootstrap4.min.js"></script>
        

<script src="/app.js"></script>
</body>
</html> -->
